.line {
    height: 1px;
    background-color: #F5F5F5;
}


.footer h4 {
    color: #42B8F3;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    margin-bottom: 10px;
}


.footer ul li a:hover {
    text-decoration: underline;
}

.footer p {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.footer input[type="email"] {
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    padding: 8px;
    font-size: 15px;
    width: 100%;
}

.footer .btnConSignUp {
    background-color: #42B8F3;
    border: none;
    color: white;
    padding: 8px 20px;
    font-size: 15px;
    text-decoration: none;
    border: 0;
    border-radius: 20px;
}

.footer .btnConSignUp:hover {
    background-color: #1E8ACF;
}
