<div class="line"></div>
<footer class="footer mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h4>Contacto</h4>
                <ul class="my-5">
                    <li>Teléfono: +123456789</li>
                    <li>Correo electrónico: info@empresa.com</li>
                    <li>Dirección: Calle principal, Ciudad, País</li>
                </ul>
                <div class="my-5">
                    <label for="email" class="my-4"><strong>Suscríbete:</strong></label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="email" placeholder="Ingresa tu e-mail" required>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Menú</h4>
                <ul class="my-5">
                    <li><a href="inicio" class="custom-link my-4"><strong>Inicio</strong></a></li>
                    <li><a href="productos" class="custom-link my-2">Reserva tu cita</a></li>
                    <li><a href="servicios" class="custom-link my-2">Servicios</a></li>
                    <li><a href="promociones" class="custom-link my-2">Packs</a></li>
                    <li><a href="blog" class="custom-link my-2">Contactanos</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Nosotros</h4>
                <p class="my-5">Tenemos una experiencia exclusiva en belleza. Con nuestro equipo especializado garantizamos la mejor calidad en diseño de uñas y tratamientos de belleza.</p>
                <a href="/reservarCitas" class="btn btnConSignUp py-1 px-3">Reserva tu cita</a>
            </div>
        </div>
    </div>
</footer>

