<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            <img src="/images/Logo.png" alt="Logo" class="iconLogo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-end">
                <li class="nav-item">
                   <a class="nav-link" aria-current="page" href="/inicio" id="btnInicio">Inicio</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" aria-current="page" href="reservarCitas" id="btnReservarCitas">Reserva Citas</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" aria-current="page" href="/servicios" id="btnServicios">Servicios</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" aria-current="page" href="/packs" id="btnPacks">Packs</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" aria-current="page" href="/contactanos" id="btnContactanos">Contáctanos</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" aria-current="page" href="/libroReclamaciones" id="btnReclamaciones">Libro de reclamaciones</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" aria-current="page" href="#">Inicia Sesión</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" aria-current="page" href="/signUp" id="btnRegistro">Registrate</a>
                </li>
            </ul>
        </div>
    </div>
</nav>