<div class="container-fluid">
    <div class="row" style="height: 1000px;">
        <div class="col-12 col-md-6 left-section text-white" style="background-color: #42B8F3;">
            <h2 class="text-center mt-5 mb-5">Estamos aquí para ayudarte</h2>
            <p class="text-center mb-0 pb-2 px-5">Ayúdanos a entender tu caso, completa los siguientes datos del libro de reclamaciones</p>
        </div>
        <div class="col-md-6 right-section">
            <h2 class="text-center mt-5" style="color: #42B8F3;">Cuéntanos tu inconveniente</h2>
            <div class="mt-5">
            <div class="rounded-box mx-auto" style="width: 70%">
                <p style="color: gray;">Estoy inconforme con la <b style="color: #000;">atención del colaborador/a</b> que he recibido.</p>
                <a href="/libroReclamaciones/documentosIdentidad" class="no-underline" style="color: #42B8F3; font-size: 1.2em; text-decoration: none; border-bottom: none;">Quiero Hacer una QUEJA</a>
            </div>
            <div class="rounded-box mx-auto" style="width: 70%">
                <p style="color: gray;">Estoy inconforme con el <b style="color: #000;">servicio al producto</b> que he recibido.</p>
                <a href="/libroReclamaciones/documentosIdentidad" class="no-underline" style="color: #42B8F3; font-size: 1.2em; text-decoration: none; border-bottom: none;">Quiero hacer un RECLAMO</a>
            </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}
