<div class="container-fluid">
    <div class="row" style="height: 1000px;">
        <div class="col-12 col-md-6 left-section text-white" style="background-color: #42B8F3;">
            <h2 class="text-center mt-5 mb-5">Estamos aquí para ayudarte</h2>
            <p class="text-center mb-0 pb-2 px-5">Ayúdanos a entender tu caso, completa los siguientes datos del libro de reclamaciones</p>
        </div>
        <div class="col-12 col-md-6 right-section">
            <h2 class="text-center" style="color: #42B8F3;">Cuéntanos tu inconveniente</h2>
            <div class="rounded-box">
                <h4>Reclamación por servicio</h4>
                <p>Estoy inconforme con la <b>atención del colaborador/a</b> que he recibido.</p>
                <a href="/libroReclamaciones/documentosIdentidad" class="no-underline" style="color: #42B8F3;">Quiero Hacer una QUEJA</a>
            </div>
            <div class="rounded-box">
                <h4>Reclamación por producto</h4>
                <p>Estoy inconforme con el <b>servicio al producto</b> que he recibido.</p>
                <a href="/libroReclamaciones/documentosIdentidad" class="no-underline" style="color: #42B8F3;">Quiero hacer un RECLAMO</a>
            </div>
        </div>
    </div>
</div>

{{> footer}}
