<div class="container-fluid my-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="text-center">
                <h4 class="text text-muted mb-0" style="font-size: 1.5em;">Comunícate</h4>
                <h2 class="text-primary mb-5" style="font-size: 3em; color: #00AEEF;">CON NOSOTROS</h2>
                <p >Por favor, indicanos la fecha y la hora en la que deseas reservar tu cita y datos de contacto para que podamos comunicarnos contigo de inmediato</p>
            </div>
            <form>
                <div class="form-group mb-2">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" required>
                </div>
                <div class="form-group mb-2">
                    <label for="celular">Celular:</label>
                    <input type="text" class="form-control" id="celular" required>
                </div>
                <div class="form-group mb-5">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="fecha">Fecha:</label>
                            <input type="date" class="form-control" id="fecha" name="fecha" required>
                        </div>
                        <div class="col-md-6">
                            <label for="hora">Hora:</label>
                            <input type="time" class="form-control" id="hora" name="hora" required>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label for="servicio" class="mb-3">Tipo de servicio:</label>
                    <ul class="no-bullets">
                        <li>
                            <input type="radio" id="manicure-clasica" name="servicio" value="manicure-clasica">
                            <label for="manicure-clasica">Manicure clásica</label>
                        </li>
                        <li>
                            <input type="radio" id="manicure" name="servicio" value="manicure">
                            <label for="manicure">Manicure</label>
                        </li>
                        <li>
                            <input type="radio" id="gel" name="servicio" value="gel">
                            <label for="gel">Gel</label>
                        </li>
                        <li>
                            <input type="radio" id="unas-acrilicas-con-tips" name="servicio" value="unas-acrilicas-con-tips">
                            <label for="unas-acrilicas-con-tips">Uñas acrílicas con tips</label>
                        </li>
                        <li>
                            <input type="radio" id="unas-acrilicas-encapsuladas" name="servicio" value="unas-acrilicas-encapsuladas">
                            <label for="unas-acrilicas-encapsuladas">Uñas acrílicas encapsuladas</label>
                        </li>
                        <li>
                            <input type="radio" id="pedicure-clasica" name="servicio" value="pedicure-clasica">
                            <label for="pedicure-clasica">Pedicure clásica</label>
                        </li>
                        <li>
                            <input type="radio" id="pedicure-gel-frio" name="servicio" value="pedicure-gel-frio">
                            <label for="pedicure-gel-frio">Pedicure gel frío</label>
                        </li>
                        <li>
                            <input type="radio" id="pedicure-jelly-spa" name="servicio" value="pedicure-jelly-spa">
                            <label for="pedicure-jelly-spa">Pedicure jelly spa</label>
                        </li>
                        <li>
                            <input type="radio" id="pedicure-ge" name="servicio" value="pedicure-ge">
                            <label for="pedicure-ge">Pedicure ge</label>
                        </li>
                        <li>
                            <input type="radio" id="pintado-cabello" name="servicio" value="pintado-cabello">
                            <label for="pintado-cabello">Pintado de cabello</label>
                        </li>
                        <li>
                            <input type="radio" id="mechas" name="servicio" value="mechas">
                            <label for="mechas">Mechas</label>
                        </li>
                        <li>
                            <input type="radio" id="peinados" name="servicio" value="peinados">
                            <label for="peinados">Peinados</label>
                        </li>
                        <li>
                            <input type="radio" id="balaye-fantasia" name="servicio" value="balaye-fantasia">
                            <label for="balaye-fantasia">Balayage fantasía</label>
                        </li>
                    </ul>
                    <p><a href="vermas.html">Ver más</a></p>
                </div>

                <div class="form-group text-center my-5">
                    <label for="detalle" class="mb-2"><b>Hay algun detalle adicional que debamos tener en cuenta?</b></label>
                    <input type="text" class="form-control" id="detalle">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btnConSignUp py-1 px-3 my-5">Reservar cita</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{> footer}}