<div class="container-fluid">
    <div class="row">
        <div class="col-6 p-0">
            <img src="/images/nailshome.png" alt="Imagen 1" class="img-fluid" style="width: 100%;">
        </div>
        <div class="col-6 p-0">
            <img src="/images/nailshome2.png" alt="Imagen 2" class="img-fluid" style="width: 100%;">
        </div>
            <h1 class="title">Funny Nail & Hair</h1>
            <a href="http://localhost:3000/servicios" class="btn btn-primary">Servicios</a>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="subtitle">Quienes Somos</h2>
            <p class="description">Tenemos una experiencia exclusiva en belleza. Con nuestro equipo especializado garantizamos la mejor calidad en diseño de uñas y tratamientos de belleza.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="subtitle">Servicios</h2>
        </div>
    </div>
    <a href="" class="btn btn-primary">Ver mas</a>
</div>
