<div class="container-fluid">
    <div class="row ctnImgsPre">
        <div class="col-12 col-md-6 p-0 ctnImgManicure" id="ctnImg1Manicure"></div>
        <div class="col-6 p-0 ctnImgManicure" id="ctnImg2Manicure"></div>
            <div class="ctnPresen">
                <h1 class="title">Funny Nail & Hair</h1>
                <div>
                    Máxima Experiencia en Belleza Estética
                </div>
                <a href="/servicios" class="mt-3">Ver Servicios</a>
            </div>
    </div>
    <div class="d-flex justify-content-center my-0 my-md-5">
        <div class="ctnAboutMeHome my-0 my-md-5">
            <h2 class="text-center mt-5">
                ¿Quiénes Somos?
            </h2>
            <p class="description text-center mt-3">
                Tenemos una experiencia exclusiva en belleza. 
                Con nuestro equipo especializado garantizamos la mejor 
                calidad en diseño de uñas y tratamientos de belleza.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid ctnServicesHome px-2 px-md-5">
    <div class="row">
        <h2 class="">Servicios</h2>
    </div>
    <div class="row row-cols-2 row-cols-lg-4 g-3 g-lg-5">
        <div class="col">
            <div class="card rounded-0 border-0">
                <img src="/images/imgPrueba.png" class="card-img-top rounded-0">
                <div class="card-body ps-0">
                    <div class="serName">
                        Manicure Clásica
                    </div>
                    <div class="d-flex justify-content-between ctnPrecio">
                        <div class="fw-bold">
                            Pen
                        </div>
                        <div class="fw-bold">
                            S/ 28.00
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-0 border-0">
                <img src="/images/imgPrueba.png" class="card-img-top rounded-0">
                <div class="card-body ps-0">
                    <div class="serName">
                        Manicure Clásica
                    </div>
                    <div class="d-flex justify-content-between ctnPrecio">
                        <div class="fw-bold">
                            Pen
                        </div>
                        <div class="fw-bold">
                            S/ 28.00
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-0 border-0">
                <img src="/images/imgPrueba.png" class="card-img-top rounded-0">
                <div class="card-body ps-0">
                    <div class="serName">
                        Manicure Clásica
                    </div>
                    <div class="d-flex justify-content-between ctnPrecio">
                        <div class="fw-bold">
                            Pen
                        </div>
                        <div class="fw-bold">
                            S/ 28.00
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-0 border-0">
                <img src="/images/imgPrueba.png" class="card-img-top rounded-0">
                <div class="card-body ps-0">
                    <div class="serName">
                        Manicure Clásica
                    </div>
                    <div class="d-flex justify-content-between ctnPrecio">
                        <div class="fw-bold">
                            Pen
                        </div>
                        <div class="fw-bold">
                            S/ 28.00
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-0 border-0">
                <img src="/images/imgPrueba.png" class="card-img-top rounded-0">
                <div class="card-body ps-0">
                    <div class="serName">
                        Manicure Clásica
                    </div>
                    <div class="d-flex justify-content-between ctnPrecio">
                        <div class="fw-bold">
                            Pen
                        </div>
                        <div class="fw-bold">
                            S/ 28.00
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-0 border-0">
                <img src="/images/imgPrueba.png" class="card-img-top rounded-0">
                <div class="card-body ps-0">
                    <div class="serName">
                        Manicure Clásica
                    </div>
                    <div class="d-flex justify-content-between ctnPrecio">
                        <div class="fw-bold">
                            Pen
                        </div>
                        <div class="fw-bold">
                            S/ 28.00
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-center mt-5 px-5">
        <a href="" class="btn btn-primary">Ver mas</a>
    </div>
</div>
{{> footer}}