<div class="container-fluid">
    <div class="row ctnImgsPre">
        <div class="col-6 p-0 ctnImgManicure" id="ctnImg1Manicure"></div>
        <div class="col-6 p-0 ctnImgManicure" id="ctnImg2Manicure"></div>
            <div class="ctnPresen">
                <h1 class="title">Funny Nail & Hair</h1>
                <div>
                    Máxima Experiencia en Belleza Estética
                </div>
                <a href="/servicios" class="mt-3">Ver Servicios</a>
            </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="subtitle">Quienes Somos</h2>
            <p class="description">Tenemos una experiencia exclusiva en belleza. Con nuestro equipo especializado garantizamos la mejor calidad en diseño de uñas y tratamientos de belleza.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="subtitle">Servicios</h2>
        </div>
    </div>
    <a href="" class="btn btn-primary">Ver mas</a>
</div>
